<div>
  <div>
    <%= raw(HtmlSanitizeEx.basic_html(@comment.body))%>
  </div>
  <div><small>
    <%= @comment.user.user_name %><strong> commented on </strong><%= @comment.inserted_at %>
  </small></div>
</div>
