<%= form_for @changeset, Routes.image_path(@conn, :create), [multipart: true], fn f -> %>  
  <div class="form-group">    
    <%= label f, :image, class: "control-label" %>    
    <%= file_input f, :image, class: "form-control" %>    
    <%= error_tag f, :image %>  
  </div>  
  <%= submit "Upload Image", class: "btn" %>
<% end %>
